<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h1>Products Admin</h1>
  <p>Welcome, {{ user.first_name }} {{ user.last_name }} !</p>
  <p>Email: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <a href="/logout">Logout</a>
</body>
</html>