<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
  <p>Email: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Other profile information: ...</p>
   <a href="/logout">Logout</a>
</body>
</html>